.center1 {
    margin-left: 200px;
    margin-right: 500px;
    margin-top: 50px;
}
.center2 {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
}
.øvretekst{
    color: #ff7345;

}
.farve {
    color: blue;

}
.værktøjslinje {
    width: 200px;
    margin-right: 100px;
    color: #ff0f2e;
}




