.all-browsers {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: lightgray;
    width: 780px;
    -webkit-filter: drop-shadow(5px 5px 5px #666666);
    filter: drop-shadow(5px 5px 5px #666666);
}

iframe {
    background: white;
    width: 580px;
}

.articleRow {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}