#outer {
    margin-left: 0;
    margin-right: 0;
    width: 100%;

}
.øverstelinje {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 0;
    width: 60%;
}
.center1 {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 0;
    width: 90%;
}
.float-container {
    display: flex;
}
.float-child {
    flex: 1;

}
.flex-child:first-child {
    margin-right: 20px;
    width: 50%;
}
.aboutus {
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 10%;
}
.aboutustext {
    margin-right: 24%;
    margin-left: 24%;
    margin-top: 3%;
}
.p1 {
    font-family: "Times New Roman";
    font-size: 17px;
    width: 50%;
    margin-left: 48%;

}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 12px;
}
.center2 {
    margin-left: 200px;
    margin-right: 500px;
    margin-top: 50px;
}
.øvretekst{
    color: #ff7345;

}
.farve {
    color: #4CAF50;
    font-family: "Times New Roman";
    font-size: 30px

}
.værktøjslinje {
    width: 200px;
    margin-right: 100px;
    color: black;
}

