#outer {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.flex-container {
    display: flex;
}
.float-child {
    flex: 1;

}
.flex-child:first-child {
    margin-right: 20px;
    width: 50%;
}
.aboutus {
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 10%;
}
.aboutustext {
    margin-right: 24%;
    margin-left: 24%;
    margin-top: 3%;
}
.p1 {
    font-family: Arial;
    font-size: 17px;
    width: 50%;
    margin-left: 48%;

}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 12px;
}
.center2 {
    margin-left: 200px;
    margin-right: 500px;
    margin-top: 50px;
}
.farve {
    color: #4CAF50;
    font-family: Arial;
    font-size: 30px
}


