.wrapper{
  background-color: #FFFDF7;
  margin: auto;
  width: 60%;
  height: 100%;
  border: 5px solid #6DA34D;
}

.centerBox {
  margin: auto;
  width: 30%;
  border: 3px solid #6DA34D;
  padding: 10px;
}

.catchText{
  text-align: center;
  font-family: Calibri, serif;
  font-size: 40px;
  font-weight: bold;
}
.description-text{
  margin: auto;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: 12px;

}
.searchContainer{
  display: flex;
}
.searchContainer button:hover {
  background: #546A76;
}

.searchContainer button{
  float: right;
  padding: 5px;
  background: #FFFDF7;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin: 0;
}

.searchContainer input[type=text]  {
  background-color: #FFFDF7;
  padding: 5px;
  border: none;
  margin-top: 0;
  margin-right: 0;
  font-size: 17px;
  width: 75%;
}
.search-result{
  margin-top: 5%;
  text-align: center;
  font-family: Calibri, serif;
  font-size: 20px;
}
#search-content{
  display: inline-block;
  text-align: left;
}
