.container {
    width: 95vw;
    height: 95vh;

    /*font-family: "Calibri", serif;
    font-weight: bold;
    font-size: 20px;*/

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr 260px;

    gap: 10px;

    padding: 10px 80px;
    box-sizing: border-box;
}

.container div {
    padding: 10px;
    /*border: 1px solid black;*/
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.content-large {
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.footer {
    /* grid-column: 1 / span 3; */
    grid-row-start: 4;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: 4;
    color: #fffdf7;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
}

.nav-link {
    color: dimgrey;
    text-decoration: none;
    font-size: 22px;
    padding: 14px;
}

.click-me {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #fffdf7;
    filter: drop-shadow(0px 3px 4px black);
}

.tagline {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.counter {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #fffdf7;
    filter: drop-shadow(0px 3px 4px black);
    position: absolute;
    bottom: 150px;
    right: 90px;
}

.image-container {
    position: relative;
}

/*
a:visited {
    text-decoration: none;
    color: #fffdf7;
}
 */