<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recipe</title>
       <link rel = "stylesheet" href = "recipeStyle.css">
  </head>
  <body class="body">

  <div style="text-align: center">
    <a href="" class="nav-links">HJEM</a>
    <a href="" class="nav-links">PROBLEMET</a>
    <a href="" class="nav-links">LØSNINGER</a>
    <a href="" class="nav-links">OPSKRIFTER</a>
    <a href="" class="nav-links">OM OS</a>
  </div>
  <div>
    <hr style="width:100%;text-align:right;margin-top: 26px">
  </div>

  <div class = "wrapper">
    <div class = "catchText">
      <p>
        Waste less, eat your mess
      </p>
    </div>

    <div class="center">
      <div class="recipeSearch">
        <input type="text" placeholder="Search..">
      </div>
    </div>
  </div>

  </body>
</html>
