.body{
  background-color: #00802b;
  height: 100%;
  margin: 0;
}
.nav-links {
  color:#e6e6e6 ;
  padding: 14px;
  text-decoration: none;
  top: 20px;
  position: relative;
  font-size: 22px;
  margin-top: 16px;
  font-family: Calibri, serif;
  text-shadow: 2px 2px 4px #000000;
}
.wrapper{
  background-color: #e6e6e6;
  margin: auto;
  width: 80%;
  height:100%;
  border: 5px solid #73AD21;
}

.center {
  margin: auto;
  width: 25%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.catchText{
  text-align: center;
  font-family: Calibri, serif;
  font-size: 40px;
  font-weight: bold;
}
.recipeSearch input[type=text] {
  background-color: #e6e6e6;
  padding: 5px;
  border: none;
  margin-top: 0;
  margin-right: 10px;
  font-size: 17px;
}
